pool:
    vmImage: 'ubuntu-16.04'
variables:
    BUILD_NUMBER: $[counter('buildCounter',1)]
    NUGET_REPO_URL: https://api.nuget.org/v3/index.json
    
trigger:
    branches:
        include:
        - master
        - refs/tags/*
steps:
    - task: UseDotNet@2
      inputs:
        version: '5.0.100'

    - task: DotNetCoreCLI@2
      displayName: "Restore tools"
      inputs:
        command: custom
        custom: tool
        arguments: restore
        
    - task: DotNetCoreCLI@2
      displayName: "Build and publish"
      env:
        NUGET_REPO_KEY: $(NUGET_REPO_KEY)
      inputs:
        command: custom
        custom: fake
        ${{ if startsWith(variables['Build.SourceBranch'], 'refs/tags') }}:
            arguments: 'build -t release'
        ${{ if not(startsWith(variables['Build.SourceBranch'], 'refs/tags')) }}:
            arguments: build
            